@use "../../assets/scss/ui/import" as *;

.templateGame {
  min-height: 100vh;
  padding: 1.5rem;
  color: $textOnePrimaryBackground;
  background: var(--themeBackground);
  display: grid;
  align-items: center;
}
