@use "./assets/scss/ui/import" as *;

:root {
  font-family: $fontPrimary;
  line-height: 1.5;
  font-weight: 400;
  color: $textOnePrimaryBackground;
  background-color: $primaryBackground;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--themeBackground);
}

#root {
  min-height: 100vh;
}
